@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>We use cookies to provide a smooth and secure navigation and we do not keep track of personal or confidential information.</p>
